
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="headerSection">
        <h1 class="nameHeader">Uploadify</h1>
        <div class="menuHeader">
              <p class="headerText"><a href="/logout">Log out</a></p>
        </div>
    </div>
        
    
    <div class="pageWrapper">
            
        <div class="sideNav">
                <p class="navHeader">Welcome <%= user.username %></p>  

                <form id="uploadForm" action="/upload" enctype="multipart/form-data" method="post">
                    <input 
                        type="file" 
                        id="fileInput" 
                        name="uploaded_file" 
                        style="display: none;"
                        onchange="document.getElementById('uploadForm').submit();"
                    >
                    <button type="button" class="navBtn" onclick="document.getElementById('fileInput').click();">
                        Upload
                    </button>
                </form>

                <button id="newFolderBtn" class="navBtn" >Add Folder</button>
        </div>

        <div class="contentSection">
            <div class="header-grid-row">
                <span>Name</span>
                <span>Type</span>
                <span>Size</span>
                <span>Created</span>
            </div>

                <% folders.forEach((folder) => { %>
                <a href="/<%= folder.id %>">
                    <div class="grid-row"> 
                        <span><%= folder.name %></span>
                        <span>Folder</span>
                        <span> - </span>
                        <span>
                        <%= folder.createdAt.getDate().toString().padStart(2,'0') %>/
                        <%= (folder.createdAt.getMonth() + 1).toString().padStart(2,'0') %>/
                        <%= folder.createdAt.getFullYear() %> 
                        <%= folder.createdAt.getHours().toString().padStart(2,'0') %>:
                        <%= folder.createdAt.getMinutes().toString().padStart(2,'0') %> 
                        </span>
                    </div>
                </a>
            <% }) %> 

            <% files.forEach((file) => { %>
                <div class="header grid-row">
                    <span><%= file.name %></span>
                    <span>File</span>
                    <span>
                        <% if(file.size >= 1048576){ %>
                            <%= (file.size / (1024 * 1024)).toFixed(2) %> MB
                        <% } else { %>
                            <%= (file.size / 1024).toFixed(2) %> KB 
                        <% } %>
                    </span>
                    <span>
                    <%= file.createdAt.getDate().toString().padStart(2,'0') %>/
                    <%= (file.createdAt.getMonth() + 1).toString().padStart(2,'0') %>/
                    <%= file.createdAt.getFullYear() %> 
                    <%= file.createdAt.getHours().toString().padStart(2,'0') %>:
                    <%= file.createdAt.getMinutes().toString().padStart(2,'0') %> 
                    </span>

                    <div class="optionsBtnWrapper">
                        <a href="/download/<%= file.id %>" class="optionsBtn">
                        <img src="assets/dlBtn.png" alt="dlBtn.png" class="optionsIcon">
                        </a>
                        
                        <form method="POST" action="/delete-file">
                            <input type="hidden" name="filePublic_id" value="<%= file.publicId %>">
                            <input type="hidden" name="fileDbId" value="<%= file.id %>">
                            <button type="submit" class="optionsBtn"> <img src="assets/delBtn.png" alt="delBtn.png" class="optionsIcon"></img> </button>  
                        </form>
                    </div>
                </div>
            <% }) %> 


            </div>

            <dialog id="newFolderDialog">
                <form method="POST" action="/">
                    <label for="folderName">Folder Name:</label>
                    <input type="text" name="folderName">
                    <button type="submit" class="loginBn">Create</button>
                    <button type="button" id="closeBtn" class="loginBn">Cancel</button>
                </form>
            </dialog>  
        </div>

        <script>
            const newFolderDialog = document.getElementById("newFolderDialog")
            const closeBtn = document.getElementById("closeBtn")

            const newFolderBtn = document.getElementById("newFolderBtn")
            newFolderBtn.addEventListener("click", () =>{
                newFolderDialog.showModal();
            })

            closeBtn.addEventListener("click", () =>{
                newFolderDialog.close();
            })


        </script>

    </div>
</body>
</html>